%p Hi,

%p= "You recently sent us an e-mail to parse but we could not find an account associated with: #{@return_address}."

%p You may have mistyped the e-mail endpoint wrong or previously deleted your account.

%p If you need further help, please contact Michael at michael.carroll@cornell.edu.

%p Thanks!

%p ******

= @email.raw_html