%p We recently received the e-mail, but did not identify it as a parsable grocery receipt. Accordingly, we are forwarding it on to you. No copy of the email has been saved on our servers.

%p If you need further help, or if the server's identification of this e-mail as not containing grocery purchase data seems to be a mistake, please contact Michael at michael.carroll@cornell.edu.

%p ~ The Pushcart Team

%p ******

= @email.raw_html