Hi,

You recently sent us an e-mail to parse but we could not find an account associated with the e-mail endpoint: "#{@email.to.first}".

You may have mistyped the e-mail endpoint wrong or previously deleted your account.

If you need further help, please contact Michael at michael.carroll@cornell.edu.

Thanks!

******

= @email.raw_text