- if @message.scraped
  %p The following grocery receipt has been processed and the data saved in your Pushcart account. Each Sunday you’ll receive an email summarizing your week’s purchases with some suggestions for the next week.
- else 
  %p We recently received the following message for you, but did not determine it was a scrapable grocery receipt. If we were wrong in that determination, please let us know: michael.carroll@cornell.edu

%p ~ The Pushcart Team

%p ******

= @message.raw_html.html_safe
