Hi,
\
We're excited you've signed up for Pushcart! We wanted to send a quick message to ensure your Pushcart experience is a snap. 
\
To start receiving your nutrition feedback effortlessly - and to receive your $10 credit for online grocery shopping - please replace the email address where your online grocery receipts are sent with your forwarding email address: 
\
= @user.endpoint_email_with_uri
\
Go to this link to do so for FreshDirect: https://www.freshdirect.com/your_account/signin_information.jsp
\
You'll continue to receive the emails as usual because we forward all the messages to your inbox automatically.
\
Once that's done, just sit back, relax, and look out for Pushcart's clear insights and expert tips on your grocery purchases to help you achieve your health goals.
\
Questions or concerns? Just shoot us an email and we'll respond personally. 
\
Healthy & happy shopping,
\
The Pushcart Team @ smalldata.io