= form_tag new_login_token_path do
  .row
    .large-8.columns
      = text_field_tag "email", nil, placeholder: "your email address"
    = hidden_field_tag 'return_path', defined?(return_path) ? return_path : ''

  .row
    .large-12.columns
      = submit_tag "Submit", class: "button"