.container 
  .row
    .col-md-offset-2.col-md-8
      %h1 Your e-mail is confirmed!
  .row
    .col-md-offset-2.col-md-8
      %h3 Look for further instructions in your inbox on how to proceed with setting up Pushcart.