.row.large-11.small-centered.columns
  %h1 Your e-mail is confirmed!

.row.large-11.small-centered.columns
  %h2 Look for further instructions in your inbox on how to proceed with setting up Pushcart.