.container 
  .row
    .col-md-offset-1.col-md-10
      %h1 Your e-mail is confirmed!
  .row
    .col-md-offset-2.col-md-8
      %h2 Look for further instructions in your inbox on how to proceed with setting up Pushcart.