.container
  .row
    .col-md-offset-3.col-md-8
      %h1= @item.name
  .row
    .col-md-9.col-md-offset-1
      %h3 Thank you for your feedback. Knowing your opinion of this item helps us make better recommendations for you!

