%p= "Welcome #{@email}!"

%p Getting started is quick and easy!

%p= link_to 'Click here to confirm your account and learn what is in your weekly groceries', confirmation_url(@resource, confirmation_token: @token)
