.row
  %h1 Find out what's in your groceries!

.row
  %h2 Sign up

  %p
    %b No URLs to bookmark, apps to download, or passwords to remember. We do everything by e-mail, to keep your life easy!

  %p Just enter your e-mail address and we'll send you a confirmation with a few easy steps to get everything going in seconds.

  =render 'devise/registrations/new'

